.items {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.items .product {
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
  min-width: 200px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.product:hover {
  transform: scale(1.04);
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.product-price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.old-amount {
  text-decoration: line-through;
  color: #888;
}

.new-amount {
  font-weight: bold;
  color: #000;
}

@media (min-width: 1200px) {
  .items {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 896px) {
  .items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .items .product {
    flex: 1 1 calc(50% - 1rem);
    box-sizing: border-box;
    min-width: 200px;
  }
}