.shop-component {
    margin:0 -0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(180deg, #d4cbd4, #21310422);
}

.banner-section {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, #d4cbd4, #21310422);
    max-height: 22rem;
    overflow: hidden;
    border-radius: 0.4rem;
}

.left-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    line-height: 4rem;
    justify-content: center;
}

.left-container h2{
    margin: 0;
    font-size: 1rem; 
    font-weight: normal;
    color: #090909;
}

.left-container h1{
    margin: 0;
    font-size: 4rem; 
    font-weight: bold;
    color: #171717;;
}

.shop-component button{
    margin: 2rem 0;
}

.right-component {
    flex: 1; 
    box-sizing: border-box; 
    align-items: center;
}

.right-image{
    display: block;
    justify-content: center;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

button {
    background-color: #ff4141; 
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    font-weight: 500;
}

.arrow {
    height: 0.6rem; 
    width: auto; 
}

.img-class {
    height: 2.5rem;
    width: auto; 
}

.right-component img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.main-headings{
    text-align: center;
    text-decoration: underline;
}

.contact-container {    
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #d4cbd4, #21310422);    
}


.contact-header h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #333;
}

.sub-heading p {
    font-size: 1rem;
    text-align: center;
    color: #555;
}

.input-section {
    display: flex;
    align-items: center;
    position: relative; 
    max-width: 37.5rem;
}

.input {
    flex: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 1.5rem;
}
